name: Check Commit Author

on:
  push:
    branches:
      - main
    paths:
      - 'tsc.json'
  
  

jobs:
  check-author:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Run script.js
        id: script_js
        env:
          COMMIT_ID: ${{ github.sha }}

        run: |
          output=$(node .github/workflows/script.js $COMMIT_ID)
          echo "$output"
          echo "$output" | grep -Eo "::set-output name=user_type::\S+" | awk -F '::' '{print $3}' > temp_usertype.txt
          cat temp_usertype.txt
      - name: Run script1.js
        env:
          COMMIT_ID: ${{ github.sha }}
          USER_TYPE: ${{ steps.script_js.outputs.user_type }}
        run: node .github/workflows/script1.js $COMMIT_ID $USER_TYPE
        
     
